
html {
	background-color: white;
	margin          : 0;
	border          : 0;
	padding         : 0;
	width           : 100%;
	box-sizing      : border-box;
	opacity         : 0;
}

body {
	background-color: transparent;
	margin          : 0;
	border          : 0;
	padding         : 0;
	width           : 100%;
	box-sizing      : border-box;
}

div, span {
	-webkit-user-select: none;
	-ms-user-select    : none;
	user-select        : none;
	margin             : 0;
	border             : 0;
	padding            : 0;
	box-sizing         : border-box;
}

.block {
	display: block;
}

.nonblock {
	display: inline-block;
}

.inblock {
	display: inline;
}

.flexblock-h {
	display               : -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
	display               : -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
	display               : -ms-flexbox;   /* TWEENER - IE 10 */
	display               : -webkit-flex;  /* NEW - Chrome */
	display               : flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-direction: row;
	-ms-flex-direction    : row;
	flex-direction        : row;
	-webkit-align-items   : center;
	-ms-flex-align        : center;
	align-items           : center;
}

.flexblock-hi {
	display               : -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
	display               : -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
	display               : -ms-flexbox;   /* TWEENER - IE 10 */
	display               : -webkit-flex;  /* NEW - Chrome */
	display               : flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction    : row-reverse;
	flex-direction        : row-reverse;
	-webkit-align-items   : center;
	-ms-flex-align        : center;
	align-items           : center;
}

.flexblock-v {
	display               : -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
	display               : -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
	display               : -ms-flexbox;   /* TWEENER - IE 10 */
	display               : -webkit-flex;  /* NEW - Chrome */
	display               : flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-direction: column;
	-ms-flex-direction    : column;
	flex-direction        : column;
	-webkit-align-items   : center;
	-ms-flex-align        : center;
	align-items           : center;
}

.flexblock-vi {
	display               : -webkit-box;     /* OLD - iOS 6-, Safari 3.1-6 */
	display               : -moz-box;        /* OLD - Firefox 19- (buggy but mostly works) */
	display               : -ms-flexbox;     /* TWEENER - IE 10 */
	display               : -webkit-flex;    /* NEW - Chrome */
	display               : flex;            /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction    : column-reverse;
	flex-direction        : column-reverse;
	-webkit-align-items   : center;
	-ms-flex-align        : center;
	align-items           : center;
}

@media (max-width: 980px) {
	.flexblock-h {
		display               : -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
		display               : -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
		display               : -ms-flexbox;   /* TWEENER - IE 10 */
		display               : -webkit-flex;  /* NEW - Chrome */
		display               : flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
		-webkit-flex-direction: column;
		-ms-flex-direction    : column;
		flex-direction        : column;
		-webkit-align-items   : center;
		-ms-flex-align        : center;
		align-items           : center;
	}

	.flexblock-hi {
		display               : -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
		display               : -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
		display               : -ms-flexbox;   /* TWEENER - IE 10 */
		display               : -webkit-flex;  /* NEW - Chrome */
		display               : flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
		-webkit-flex-direction: column;
		-ms-flex-direction    : column;
		flex-direction        : column;
		-webkit-align-items   : center;
		-ms-flex-align        : center;
		align-items           : center;
	}
}

.flex-center {
	-webkit-justify-content: center;
	-ms-flex-pack          : center;
	justify-content        : center;
}

.flex-space-between {
	-webkit-justify-content: space-between;
	-ms-flex-pack          : justify;
	justify-content        : space-between;
}

.flex-content {
	-webkit-flex-grow  : 0;
	-ms-flex-grow      : 0;
	flex-grow          : 0;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink    : 1;
	flex-shrink        : 1;
	-webkit-flex-basis : auto;
	-ms-flex-basis     : auto;
	flex-basis         : auto;
	-webkit-align-self : center;
	-ms-flex-item-align: center;
	align-self         : center;
}

.flex-content-fill {
	-webkit-flex-grow  : 1;
	-ms-flex-grow      : 1;
	flex-grow          : 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink    : 1;
	flex-shrink        : 1;
	-webkit-flex-basis : auto;
	-ms-flex-basis     : auto;
	flex-basis         : auto;
	-webkit-align-self : center;
	-ms-flex-item-align: center;
	align-self         : center;
}

.flex-content-stretch {
	-webkit-flex-grow  : 1;
	-ms-flex-grow      : 1;
	flex-grow          : 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink    : 1;
	flex-shrink        : 1;
	-webkit-flex-basis : 0;
	-ms-flex-basis     : 0;
	flex-basis         : 0;
	-webkit-align-self : stretch;
	-ms-flex-item-align: stretch;
	align-self         : stretch;
}

@media (max-width: 980px) {
	.flex-content + .flex-content {
		margin-top: 3rem;
	}
	
	.flex-content-fill + .flex-content-fill {
		margin-top: 2rem;
	}
	
	.flex-content-stretch + .flex-content-stretch {
		margin-top: 6rem;
	}
}

.button {
	cursor: pointer;
	width : 100%;
	height: 100%;
}

.image {
	background-position: center center;
	background-repeat  : no-repeat;
	background-size    : contain;
	width              : 100%;
}

.background-white {
	background-color: white;
}

.background-black {
	background-color: black;
}

.background-image {
	background-attachment: fixed;
	background-position  : center center;
	background-repeat    : no-repeat;
	background-size      : cover;
}

.background-image-no-parallel {
	background-position: center top;
	background-repeat  : no-repeat;
	background-size    : cover;
}

.background-image-1 {
	background-image: url('/img/bg-1.jpg');
}

.background-image-2 {
	background-image: url('/img/bg-2.jpg');
}

.background-image-3 {
	background-image: url('/img/bg-3.jpg');
}

.background-image-4 {
	background-image: url('/img/bg-4.jpg');
}

.background-image-5 {
	background-image: url('/img/bg-5.jpg');
}

.area {
	width: 100%;
}

.area-fixed {
	margin-left : auto;
	margin-right: auto;
	max-width   : 60rem;
}

.area-spaced-top {
	padding-top: 10rem;
}

.area-spaced-top-double {
	padding-top: 20rem;
}

.area-spaced-top-half {
	padding-top: 5rem;
}

.area-spaced-bottom {
	padding-bottom: 10rem;
}

.area-spaced-bottom-double {
	padding-bottom: 20rem;
}

.area-spaced-bottom-half {
	padding-bottom: 5rem;
}

.positioned-center {
	margin-left : auto;
	margin-right: auto;
}

.positioned-left {
	margin-left : 0;
	margin-right: auto;
}

.positioned-right {
	margin-left : auto;
	margin-right: 0;
}

.nav-title {
	padding-top: 1.5rem;
}

@media (max-width: 980px) {
	.nav-title {
		display    : block;
		padding-top: 2.5rem;
	}
}

.nav-element + .nav-element {
	margin-left: 2.5rem;
}

@media (max-width: 980px) {
	.nav-element + .nav-element {
		display: none;
	}
}

.nav-logo {
	background-image: url('/img/home-logo.png');
	width           : 11.625rem;
	height          : 2.5rem;
	vertical-align  : middle;
}

@media (max-width: 980px) {
	.nav-logo {
		display     : block;
		margin-left : auto;
		margin-right: auto;
		width       : 100%;
	}
}

.nav-text {
	padding    : 0.5rem;
	font-family: Nanum Square;
	font-size  : 1.125rem;
	color      : #323232;
}

.slogan-space-top {
	padding-top: 10.75rem;
}

.slogan-space-bottom {
	padding-top: 9.375rem;
}

.slogan-title {
	font-family: Nanum Myeongjo;
	font-size  : 3rem;
	color      : #3e3e3e;
}

.slogan-break {
	display: none;
}

.slogan-text {
	font-family: Nanum Square;
	font-size  : 1.5rem;
	line-height: 2.25rem;
	color      : #3e3e3e;
	max-width  : 23.75rem;
}

@media (max-width: 980px) {
	.slogan-space-top {
		padding-top: 6rem;
	}

	.slogan-space-top {
		padding-top: 6rem;
	}
	
	.slogan-title {
		padding-left : .5em;
		padding-right: .5em;
		font-size    : 2.75rem;
		text-align   : center;
	}

	.slogan-break {
		display: inline;
	}
	
	.slogan-text {
		padding-left : .5em;
		padding-right: .5em;
		font-size    : 1.25rem;
		text-align   : center;
		max-width    : 100%;
	}
}

.slogan-title + .slogan-text {
	margin-top: 1.563rem;
}

.communication-button {
	border          : solid 0.063rem black;
	font-family     : Nanum Square;
	font-size       : 1.5rem;
	line-height     : 5rem;
	text-align      : center;
	color           : white;
	background-color: black;
	max-width       : 18.75rem;
	max-height      : 5rem;
	transition      : color 0.1s, background-color 0.1s;
}

.communication-button:hover {
	color           : black;
	background-color: transparent;
}

@media (max-width: 980px) {
	.communication-button {
		margin-left : auto;
		margin-right: auto;
	}
}

.article-title {
	padding-left : 2rem;
	padding-right: 2rem;
	font-family  : Nanum Square;
	font-size    : 2rem;
	line-height  : 2.625rem;
	color        : black;
	max-width    : 25rem;
}

.article-text {
	padding-left : 2rem;
	padding-right: 2rem;
	font-family  : Nanum Square;
	font-size    : 1.25rem;
	line-height  : 2.188rem;
	color        : #3e3e3e;
	max-width    : 25rem;
}

.article-text-center {
	text-align: center;
}

.article-title + .article-text {
	margin-top: 2.5rem;
}

@media (max-width: 980px) {
	.article-title {
		text-align: center;
		max-width : 25.625rem;
	}

	.article-text {
		text-align: center;
		max-width : 25.625rem;
	}
	
	.article-title + .article-text {
		margin-top: 1rem;
	}
}

.phone-image {
	background-image: url('/img/phone.png');
	max-width       : 23.75rem;
	height          : 42.125rem;
}

.first-image {
	background-image: url('/img/1.png');
	max-width       : 31.563rem;
	height          : 25.313rem;
}

.second-image {
	margin-top      : 3rem;
	background-image: url('/img/2.png');
	max-width       : 17.5rem;
	height          : 17.5rem;
}

.triple-image {
	margin-bottom: 2.5rem;
	max-width    : 10rem;
	height       : 10rem;
}

@media (max-width: 980px) {
	.triple-image {
		margin-bottom: 0;
	}
}

.triple-left-image {
	background-image: url('/img/5-1.png');
}

.triple-middle-image {
	background-image: url('/img/5-2.png');
}

.triple-right-image {
	background-image: url('/img/5-3.png');
}

.member-logo {
	margin-top      : 3.75rem;
	margin-bottom   : 3.75rem;
	background-image: url('/img/contact-logo.png');
	max-width       : 7.5rem;
	height          : 5.5rem;
}

.member-image {
	max-width: 13.75rem;
	height   : 13.75rem;
}

.member-image-lee {
	background-image: url('/img/member-lee.jpg');
}

.member-image-yoon {
	background-image: url('/img/member-yoon.jpg');
}

.member-image-park {
	background-image: url('/img/member-park.jpg');
}

.member-name {
	font-weight: 700;
	font-family: Nanum Square;
	font-size  : 1.25rem;
	line-height: 3.375rem;
	text-align : center;
	color      : 323232;
}

.member-horizontal {
	margin-bottom: 0.75rem;
	background   : #979797;
	width        : 100%;
	height       : 0.125rem;
}

.member-text {
	font-family: Nanum Square;
	font-size  : 1.25rem;
	line-height: 1.875rem;
	text-align : center;
	color      : 323232;
}

@media (max-width: 980px) {
	.member-image.flex-content + .flex-content {
		margin-top: 0;
	}
}

.footer-list {
	padding-top   : 3.875rem;
	padding-bottom: 1.5rem;
}

.footer-list-element + .footer-list-element {
	margin-left: 1rem;
}

.footer-image {
	margin-right    : 1.875rem;
	background-image: url('/img/facebook.png');
	width           : 2.125rem;
	height          : 2.125rem;
	vertical-align  : middle;
}

@media (max-width: 980px) {
	.footer-image {
		margin-right: 0;
	}
}

.footer-text {
	font-family: Nanum Square;
	font-size  : 1rem;
	line-height: 1.875rem;
	color      : white;
}

.footer-vertical {
	background-color: white;
	width           : 0.125rem;
	height          : 1.25rem;
	vertical-align  : middle;
}

.footer-plotchain {
	font-family: Nanum Square;
	font-size  : 1.25rem;
	line-height: 1.875rem;
	color      : white;
}

@media (max-width: 980px) {
	.footer-plotchain {
		margin-top: 2rem;
	}
}