
html {
	background-color: white;
	margin          : 0;
	border          : 0;
	padding         : 0;
	width           : 100%;
	min-width       : 64rem;
	box-sizing      : border-box;
	opacity         : 0;
}

body {
	background-color: transparent;
	margin          : 0;
	border          : 0;
	padding         : 0;
	width           : 100%;
	box-sizing      : border-box;
}

div, span {
	-webkit-user-select: none;
	-ms-user-select    : none;
	user-select        : none;
	margin             : 0;
	border             : 0;
	padding            : 0;
	box-sizing         : border-box;
}

.block {
	display: block;
}

.nonblock {
	display: inline-block;
}

.inblock {
	display: inline;
}

.flexblock-h {
	display               : -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
	display               : -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
	display               : -ms-flexbox;   /* TWEENER - IE 10 */
	display               : -webkit-flex;  /* NEW - Chrome */
	display               : flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-direction: row;
	-ms-flex-direction    : row;
	flex-direction        : row;
	-webkit-align-items   : center;
	-ms-flex-align        : center;
	align-items           : center;
}

.flexblock-hi {
	display               : -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
	display               : -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
	display               : -ms-flexbox;   /* TWEENER - IE 10 */
	display               : -webkit-flex;  /* NEW - Chrome */
	display               : flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction    : row-reverse;
	flex-direction        : row-reverse;
	-webkit-align-items   : center;
	-ms-flex-align        : center;
	align-items           : center;
}

.flexblock-v {
	display               : -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
	display               : -moz-box;      /* OLD - Firefox 19- (buggy but mostly works) */
	display               : -ms-flexbox;   /* TWEENER - IE 10 */
	display               : -webkit-flex;  /* NEW - Chrome */
	display               : flex;          /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-direction: column;
	-ms-flex-direction    : column;
	flex-direction        : column;
	-webkit-align-items   : center;
	-ms-flex-align        : center;
	align-items           : center;
}

.flexblock-vi {
	display               : -webkit-box;     /* OLD - iOS 6-, Safari 3.1-6 */
	display               : -moz-box;        /* OLD - Firefox 19- (buggy but mostly works) */
	display               : -ms-flexbox;     /* TWEENER - IE 10 */
	display               : -webkit-flex;    /* NEW - Chrome */
	display               : flex;            /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction    : column-reverse;
	flex-direction        : column-reverse;
	-webkit-align-items   : center;
	-ms-flex-align        : center;
	align-items           : center;
}

.flex-center {
	-webkit-justify-content: center;
	-ms-flex-pack          : center;
	justify-content        : center;
}

.flex-space-between {
	-webkit-justify-content: space-between;
	-ms-flex-pack          : justify;
	justify-content        : space-between;
}

.flex-content {
	-webkit-flex-grow  : 0;
	-ms-flex-grow      : 0;
	flex-grow          : 0;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink    : 1;
	flex-shrink        : 1;
	-webkit-flex-basis : auto;
	-ms-flex-basis     : auto;
	flex-basis         : auto;
	-webkit-align-self : center;
	-ms-flex-item-align: center;
	align-self         : center;
}

.flex-content-fill {
	-webkit-flex-grow  : 1;
	-ms-flex-grow      : 1;
	flex-grow          : 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink    : 1;
	flex-shrink        : 1;
	-webkit-flex-basis : auto;
	-ms-flex-basis     : auto;
	flex-basis         : auto;
	-webkit-align-self : center;
	-ms-flex-item-align: center;
	align-self         : center;
}

.flex-content-stretch {
	-webkit-flex-grow  : 1;
	-ms-flex-grow      : 1;
	flex-grow          : 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink    : 1;
	flex-shrink        : 1;
	-webkit-flex-basis : 0;
	-ms-flex-basis     : 0;
	flex-basis         : 0;
	-webkit-align-self : stretch;
	-ms-flex-item-align: stretch;
	align-self         : stretch;
}

.button {
	cursor: pointer;
}

.image {
	background-position: center center;
	background-repeat  : no-repeat;
	background-size    : 100% 100%;
}

.background-white {
	background-color: white;
}

.background-black {
	background-color: black;
}

.background-image {
	background-attachment: fixed;
	background-position  : center center;
	background-repeat    : no-repeat;
	background-size      : cover;
}

.background-image-1 {
	background-image: url('/img/bg-1.jpg');
}

.background-image-2 {
	background-image: url('/img/bg-2.jpg');
}

.background-image-3 {
	background-image: url('/img/bg-3.jpg');
}

.background-image-4 {
	background-image: url('/img/bg-4.jpg');
}

.background-image-5 {
	background-image: url('/img/bg-5.jpg');
}

.area {
	width: 100%;
}

.area-fixed {
	margin-left : auto;
	margin-right: auto;
	max-width   : 60rem;
}

.area-spaced-top {
	padding-top: 10rem;
}

.area-spaced-top-double {
	padding-top: 20rem;
}

.area-spaced-top-half {
	padding-top: 5rem;
}

.area-spaced-bottom {
	padding-bottom: 10rem;
}

.area-spaced-bottom-double {
	padding-bottom: 20rem;
}

.area-spaced-bottom-half {
	padding-bottom: 5rem;
}

.positioned-center {
	margin-left : auto;
	margin-right: auto;
}

.positioned-left {
	margin-left : 0;
	margin-right: auto;
}

.positioned-right {
	margin-left : auto;
	margin-right: 0;
}

.nav-title {
	margin-top: 1.5rem;
}

.nav-element + .nav-element {
	margin-left: 2.5rem;
}

.nav-logo {
	background-image: url('/img/home-logo.png');
	width           : 11.625rem;
	height          : 2.5rem;
	vertical-align  : middle;
}

.nav-text {
	padding    : 0.5rem;
	font-family: Nanum Square;
	font-size  : 1.125rem;
	color      : #323232;
}

.slogan-title {
	font-family: Nanum Myeongjo;
	font-size  : 3rem;
	color      : #3e3e3e;
}

.slogan-text {
	font-family: Nanum Square;
	font-size  : 1.5rem;
	color      : #3e3e3e;
}

.slogan-title + .slogan-text {
	margin-top: 1.563rem;
}

.subscribe-button {
	border          : solid 0.063rem black;
	font-family     : Nanum Square;
	font-size       : 1.5rem;
	line-height     : 5rem;
	text-align      : center;
	color           : #3e3e3e;
	background-color: transparent;
	width           : 13.75rem;
	height          : 5rem;
	transition      : color 0.1s, background-color 0.1s;
}

.subscribe-button:hover {
	color           : white;
	background-color: black;
}

.apply-button {
	border          : solid 0.063rem black;
	font-family     : Nanum Square;
	font-size       : 1.5rem;
	line-height     : 5rem;
	text-align      : center;
	color           : white;
	background-color: black;
	width           : 13.75rem;
	height          : 5rem;
	transition      : color 0.1s, background-color 0.1s;
}

.apply-button:hover {
	color           : black;
	background-color: transparent;
}

.article-title {
	font-family: Nanum Square;
	font-size  : 2rem;
	line-height: 2.625rem;
	color      : black;
}

.article-text {
	font-family: Nanum Square;
	font-size  : 1.25rem;
	line-height: 2.188rem;
	color      : #3e3e3e;
}

.article-text-center {
	text-align: center;
}

.article-title + .article-text {
	margin-top: 2.5rem;
}

.phone-image {
	background-image: url('/img/phone.png');
	width           : 23.75rem;
	height          : 42.125rem;
}

.first-image {
	background-image: url('/img/1.png');
	width           : 31.563rem;
	height          : 25.313rem;
}

.second-image {
	background-image: url('/img/2.png');
	width           : 17.5rem;
	height          : 17.5rem;
	margin-top      : 3.125rem;
}

.triple-image {
	margin-bottom: 2.5rem;
	width        : 10rem;
	height       : 10rem;
}

.triple-left-image {
	background-image: url('/img/5-1.png');
}

.triple-middle-image {
	background-image: url('/img/5-2.png');
}

.triple-right-image {
	background-image: url('/img/5-3.png');
}

.member-logo {
	margin-top      : 3.75rem;
	margin-bottom   : 3.75rem;
	background-image: url('/img/contact-logo.png');
	width           : 7.5rem;
	height          : 5.5rem;
}

.member-image {
	width : 13.75rem;
	height: 13.75rem;
}

.member-image-lee {
	background-image: url('/img/member-lee.jpg');
}

.member-image-yoon {
	background-image: url('/img/member-yoon.jpg');
}

.member-image-park {
	background-image: url('/img/member-park.jpg');
}

.member-name {
	font-weight: 700;
	font-family: Nanum Square;
	font-size  : 1.25rem;
	line-height: 3.375rem;
	text-align : center;
	color      : 323232;
}

.member-horizontal {
	margin-bottom: 0.75rem;
	background   : #979797;
	width        : 100%;
	height       : 0.125rem;
}

.member-text {
	font-family: Nanum Square;
	font-size  : 1.25rem;
	line-height: 1.875rem;
	text-align : center;
	color      : 323232;
}

.contact-button {
	border          : solid 0.063rem black;
	background-color: black;
	font-family     : Nanum Square;
	line-height     : 3.375rem;
	color           : white;
	text-align      : center;
	width           : 10.938rem;
	height          : 3.375rem;
	transition      : color 0.1s, background-color 0.1s;
}

.contact-button:hover {
	color           : black;
	background-color: white;
}

.footer-list {
	padding-top   : 3.875rem;
	padding-bottom: 1.5rem;
}

.footer-list-element + .footer-list-element {
	margin-left: 1rem;
}

.footer-image {
	margin-right    : 1.875rem;
	background-image: url('/img/facebook.png');
	width           : 2.125rem;
	height          : 2.125rem;
	vertical-align  : middle;
}

.footer-text {
	font-family: Nanum Square;
	font-size  : 1rem;
	line-height: 1.875rem;
	color      : white;
}

.footer-vertical {
	background-color: white;
	width           : 0.125rem;
	height          : 1.25rem;
	vertical-align  : middle;
}

.footer-plotchain {
	font-family: Nanum Square;
	font-size  : 1.25rem;
	line-height: 1.875rem;
	color      : white;
}